[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg = {extras = ["binary"], version = "*"}
alembic = "*"
importlib-resources = "*"
asyncpg = "*"
psycopg2 = "*"
sqlalchemy = "==2.0.0b3"
black = "*"
greenlet = "*"

[dev-packages]
isort = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
